---
layout: layouts/base.njk
title: "密技"
permalink: /staff/secret/
---
<h1>密技</h1>

<div id="staff-content" hidden data-codes="{{ site.staff_access_codes }}" data-hub-url="{{ '/staff/' | url }}">
  <div id="staff-greeting" class="staff-greeting" hidden>
    <span class="staff-greeting__icon material-symbols-outlined" aria-hidden="true">waving_hand</span>
    <p class="staff-greeting__text">
      <span class="staff-greeting__name" id="staff-greeting-name"></span>
      <span class="staff-greeting__sub">歡迎回來</span>
    </p>
  </div>
  <p>敬請期待,內容準備中。</p>
</div>
