---
layout: layouts/base.njk
title: "意見信箱"
permalink: /suggest/
---
<div class="leave-notice">
  <span class="leave-notice__icon material-symbols-outlined" aria-hidden="true">mail</span>
  <h1 class="leave-notice__title">即將前往院方意見信箱</h1>
  <p class="leave-notice__body">
    意見信箱由院方獨立系統受理,不是本站的一部分。填寫前請先準備好姓名、電子信箱、電話號碼,並簡要描述您的問題類型與內容,送出時需輸入頁面上的驗證碼。
  </p>
  <a href="{{ site.suggest_box_url }}" class="btn btn--filled leave-notice__cta">
    前往意見信箱
    <span class="material-symbols-outlined" aria-hidden="true">arrow_forward</span>
  </a>
  <a href="{{ '/' | url }}" class="btn btn--text leave-notice__back">返回首頁</a>
</div>
